<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script type="application/javascript" src="js/bootstrap.min.js"></script>
    <title>发布-雷神社区</title>
</head>
<body>
    <div th:insert="~{navigation :: nav}"></div>
   <!-- /.container-fluid -->
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发起</h2>
                <hr>
                <form action="/publish" method="post">
                    <div class="form-group">
                        <label for="title" >问题标题（简明扼要）：</label>
                        <input type="text" class="form-control" id="title" placeholder="问题标题" name="title" th:text="${title}">
                    </div>

                    <div class="form-group">
                        <label for="title">问题补充（必填：请参照右侧提示）：</label>
                       <textarea name="description" id="description" class="form-control" th:rows="10" th:text="${description}">
                       </textarea>
                    </div>

                    <div class="form-group">
                        <label for="title">添加标签：</label>
                        <input th:text="${tag}" type="text" class="form-control" id="tag" name="tag" placeholder="输入标签，以，号分隔">
                    </div>
                    <div class="container-fluid main">
                        <div class="row">
                            <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:text="${error}" th:if="${error!=null}"></div>
                            <button type="submit" class="btn btn-success btn-publish">发布</button>
                        </div>

                    </div>


                </form>

            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
                .问题标题
                .问题补充
                .选择标签
            </div>
        </div>
    </div>

</body>
</html>